* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #151320;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    transition: .5s;
}

.content {
    text-align: center;
    max-width: 100%;
    position: relative;
}

input[type="button"] {
    padding: 10px 20px;
    font-size: 25px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(0, 255, 0);
    transition: 0.5s;
}

#off {
    background-color: red;
}

#bulb {
    width: 100%;
    border-radius: inherit;
    display: block;
}

.img-wrapper {
    position: relative;
    display: inline-block;
    padding: 5px;
    border-radius: 30px;
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000, #ffff00);
    overflow: hidden;
    width: 60%;
}

.img-wrapper::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: inherit;
    z-index: -1;
    filter: blur(50px);
    animation: animate-border 5s linear infinite;
}

.text-modo {
    display:inline;
    flex-direction: row;
    width: 30px;
    font-size: 20px;
    color: white;
    white-space:nowrap;
    margin: 0 1rem 1rem 0;
    margin-bottom: 50px;
}

body.dark{
    background: white;
}

.toggle {
    margin: 20px 50px ;
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.toggle > input {
    display: none;
}

.toggle > label {
    position: relative;
    display: block;
    height: 20px;
    width: 44px;
    background: #898989;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.toggle > label:after {
    position: absolute;
    left: -2px;
    top: -3px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    content: '';
    transition: all 0.3s ease;
}
.toggle > label:active:after {
    transform: scale(1.15, 0.85);
}
.toggle > input:checked ~ label {
    background: #898989;
}
.toggle > input:checked ~ label:after {
    left: 20px;
    background: #898989;
}